<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeDetailed.imagePath" alt="" class="img-responsive" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 *ngIf="recipeDetailed.name">{{recipeDetailed.name}}</h1>
        <h1 *ngIf="!recipeDetailed.name">No chosen name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                <li><a href="#">Edit recipe</a></li>
                <li><a href="#">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipeDetailed.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ingredient of recipeDetailed.ingredients" class="list-group-item">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>